.container {
  width: 100%;
}
.tableContainer {
  width: 100%;
}
.contianerBody {
  margin: 6rem auto;
}
.wrapContainer {
  margin: 5rem auto;
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: 1px solid red;
}
.wrapContainerReverse {
  margin: 60px auto;
  display: flex;
  padding: 10px;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly;
}
.contentDiv {
  padding: 12px;
  margin: auto;
  margin-bottom: 18px;
}
.sslc,
.pg,
.ug,
.hsc {
  width: 480px;
  border-right: 1px solid #a7afbe;
  border-left: 1px solid #a7afbe;
  border-radius: 8px;
}
.contianerBody .educationTitle {
  font-weight: bold;
  font-size: 2rem;
  margin-top: 1.6rem;
  padding-top: 0.4rem;
  padding-bottom: 6rem;
  text-align: center;
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  width: 80%;
  margin: 0 auto;
  padding: 20px 0px;
}

.col-md-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 200px;
  box-shadow: 0 0px 3px 0 rgba(94, 146, 168, 0.621);
  border-radius: 12px;
  /* margin: auto; */
}

@media screen and (max-width: 1200px) {
  .row {
    grid-template-columns: auto auto;
    width: 100%;
  }
  .col-md-4 {
    width: 400px;
  }
}
@media screen and (max-width: 925px) {
  .row {
    display: flex;
    flex-direction: column;
  }
  /* .col-md-4 {
    width: 400px;
  } */
}

@media screen and (max-width: 485px) {
  .col-md-4 {
    width: 380px;
  }
}
