.container {
  top: 80px;
  position: absolute;
  width: 94%;
}
.tableContainer {
  margin: 40px auto;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 3px 0 rgba(63, 63, 68, 0.15);
}
.wrapContainer {
  margin: 70px auto;
  width: 90%;
}
.tableContent {
  padding: 18px;
}
