.container {
  width: 100%;
}
.tableContainer {
  width: 100%;
}
.contianerBody {
  margin: 6rem auto;
}
.wrapContainer {
  margin: 5rem auto;
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.wrapContainerReverse {
  margin: 60px auto;
  display: flex;
  padding: 10px;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly;
}
.contentDiv {
  padding: 12px;
  margin: auto;
  margin-bottom: 18px;
}
.sslc,
.pg,
.ug,
.hsc {
  width: 480px;
  border-right: 1px solid #a7afbe;
  border-left: 1px solid #a7afbe;
  border-radius: 8px;
}
