.menus {
  width: 6%;
  height: 680px;
  position: fixed;
  right: 0;
  top: 80px;
  box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 3px 0 rgba(63, 63, 68, 0.15);
  /* background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(2, 16, 40, 1) 0%,
    rgba(236, 236, 236, 1) 0%,
    rgba(199, 204, 213, 1) 0%,
    rgba(45, 72, 124, 1) 0%,
    rgba(73, 96, 140, 1) 0%,
    rgba(98, 118, 154, 1) 0%,
    rgba(109, 127, 160, 1) 0%,
    rgba(112, 130, 163, 1) 0%,
    rgba(171, 171, 172, 1) 0%,
    rgba(125, 139, 165, 1) 0%,
    rgba(116, 133, 163, 1) 0%,
    rgba(187, 195, 208, 1) 0%,
    rgba(113, 131, 163, 1) 100%,
    rgba(220, 224, 224, 1) 100%,
    rgba(212, 216, 224, 1) 100%,
    rgba(222, 232, 233, 1) 100%,
    rgba(212, 198, 223, 1) 100%,
    rgba(81, 40, 123, 1) 100%,
    rgba(189, 215, 215, 1) 100%,
    rgba(199, 199, 204, 1) 100%,
    rgba(2, 13, 34, 1) 100%,
    rgba(60, 55, 5, 1) 100%,
    rgba(243, 243, 247, 1) 100%,
    rgba(246, 248, 251, 1) 100%,
    rgba(231, 234, 237, 1) 100%,
    rgba(14, 184, 233, 1) 100%,
    rgba(3, 18, 46, 1) 100%,
    rgba(215, 218, 224, 1) 100%,
    rgba(32, 96, 215, 1) 100%
  ); */
}
.links_container {
  /* cursor: pointer; */
  /* width: 90%; */
  margin-top: 30px;
  text-align: center;
}
.menuText {
  /* display: flex;  */
  /* text-transform: uppercase;  */
  /* justify-content: space-between;  */
  /* color: #eff628;  */
  /* width: 100%;  */
  margin-bottom: 32px;
}
/* .links_container > .links {
  width: 88%;
  margin: 32px auto;
  align-items: center;
  height: 30px;
  font-family: monospace;
  text-transform: capitalize;
  border-width: 0px 3px 0px 4px;
  border-style: double;
  border-color: rgb(224, 231, 237);
  border-radius: 20px 20px 20px 30px;
  -moz-border-radius: 20px 20px 30px 30px;
  -webkit-border-radius: 20px 20px 0px 30px;
  border-bottom: 3px solid rgb(225, 219, 233);
  border-right: none;
} */

/* .links_container > .links:hover {
  border-color: rgb(245, 141, 5);
} */
.icon {
  height: 40px;
  margin-top: 28px;
  text-align: center;
}
