.Container {
  width: 100%;
}
.main_container {
  padding: 23px;
  margin: 5.3rem auto;
  width: 76%;
}
.cardTitle {
  display: flex;
  justify-content: space-between;
}
.topContainer {
  margin-top: 2px;
  display: grid;
  grid-template-columns: auto auto;
  /* gap: 38px; */
  /* width: '100%'; */
}
.main_container .followHeading {
  color: #0f2e66;
  font-weight: bold;
  font-size: 23px;
  letter-spacing: normal;
  align-items: center;
  margin-left: 10px;
}
.topContainer .linkCard {
  /* width: 96%; */
  padding: 10px;
  margin: auto;
}
/* media query */
@media screen and (max-width: 1225px) {
  .main_container {
    width: 98%;
  }
}
@media screen and (max-width: 880px) {
  .topContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .topContainer .linkCard {
    width: 70%;
  }
  .main_container .followHeading {
    text-align: center;
  }
}
@media screen and (max-width: 605px) {
  .topContainer .linkCard {
    width: 100%;
  }
}
