.Skillscontainer {
  width: 90%;
  margin: auto;
  padding-top: 10rem;
}
.technicalSkills {
  display: flex;
  margin-top: 18px;
  margin-bottom: 18px;
  justify-content: space-between;
  color: #0f2e66;
}

:root {
  --main-color: #00cfe8;
  --second-color: #1b1b1b;
  --third-color: #d4d4d4;
  --bg-color: #ebebeb;
}
.Skillscontainer .skills {
  margin: auto;
  width: 100%;
}
.skills span {
  color: var(--main-color);
  font-size: 2rem;
}
.skills .skill-card {
  display: flex;
  justify-content: center;
  padding: 18px;
  margin: auto;
}
.skills .skill-card .card:hover {
  box-shadow: 0 0px 3px 0 rgba(255, 0, 179, 0.621);
}
.skills .skill-card .card {
  box-shadow: 0 0px 3px 0 rgba(94, 146, 168, 0.621);
  width: 50%;
  height: auto;
  padding: 28px 10px 28px 28px;
  color: var(--third-color);
  position: relative;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 20px;
}
.skills .card p {
  line-height: 1.7;
  font-size: 16px;
  color: var(--third-color);
}
.skills .card .image {
  width: 40px;
  height: 40px;
  color: var(--second-color);
  background-color: #0f1a24;
  border-radius: 50%;
  border: 1px solid #224b76;
  align-items: center;
  display: flex;
  justify-content: center;
}
.skills .card .image img {
  width: 70%;
  height: 70%;
  transform: rotate(0deg);
  padding: 0px;
}
.skills .card:hover h4 {
  color: var(--second-color);
}
.detAndLanguage {
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
  width: 70%;
}
.languages {
  background-color: #fafafa;
  width: 100%;
  height: 150px;
  padding: 18px;
  border: 1px solid rgb(242 239 239);
}
.languageDivPart {
  margin: auto;
  text-align: center;
  padding: 8px;
  width: 50%;
  height: 100%;
}
.languageDivPart .LanguageName {
  color: #0f2e66;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.languageDivPart .lanText {
  color: #707887;
  font-size: 16px;
}
.languages .languageContent {
  width: 80%;
  display: flex;
  margin: auto;
  height: 100%;
}
.skills .SkillsTitle {
  font-weight: bold;
  font-size: 2rem;
  margin-top: 1.6rem;
  padding-top: 0.4rem;
  padding-bottom: 6rem;
  text-align: center;
}
.card .SkillEveryTitle {
  font-weight: bold;
  line-height: 3rem;
  margin-left: 15px;
  font-size: 1.8rem;
}
.card .SkillsLevelTitle {
  color: rgb(177 179 181);
  margin-left: 15px;
  font-size: 1.3rem;
}
/* media query  */
@media screen and (max-width: 1055px) {
  .Skillscontainer {
    width: 96%;
  }
}
@media screen and (max-width: 988px) {
  .skills .skill-card {
    flex-direction: column;
    margin: auto;
    align-items: center;
  }
  .skills .skill-card .card {
    width: 60%;
  }
}
@media screen and (max-width: 690px) {
  .skills .skill-card .card {
    width: 80%;
  }
  .skills .SkillsTitle {
    font-size: 2.6rem;
  }
  .card .SkillEveryTitle {
    font-size: 1.6rem;
    margin-left: 10px;
  }
  .card .SkillsLevelTitle {
    margin-left: 10px;
  }
}
@media screen and (max-width: 555px) {
  .skills .skill-card .card {
    width: 100%;
  }
  .skills .card .image {
    width: 40px;
    height: 40px;
    padding: none;
  }
  .skills .skill-card {
    padding: 12px;
  }
}
