.container {
  width: 100%;
}
.aboutContainer {
  margin: 10rem auto;
}
.aboutIcons {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin: auto;
}
.wrapper {
  display: flex;
  width: 86%;
  margin: auto;
  justify-content: space-between;
}
/* media query */
@media screen and (max-width: 1050px) {
  .wrapper {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: space-between;
  }
  .wrapperImage {
    margin: auto;
  }
}
