.container {
  width: 94%;
  /* position: relative; */
  top: 80px;
  /* border: 2px solid rebeccapurple; */
}
.aboutContainer {
  width: 80%;
  /* border: 1px solid red; */
  /* background-color: rebeccapurple; */
  margin: 80px auto;
}
