.footerContainer {
  width: 90%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(182, 182, 183, 0.5) 0px -6px 6px -6px;
  margin: 8rem auto;
  border-radius: 6px;
  align-items: center;
}
.footerIcons {
  display: flex;
  justify-content: space-evenly;
}
.icons {
  width: 218px;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
}
.icons :hover {
  color: #ff9704 !important;
}
.footerLogo .footerLogoText {
  color: #f57701;
  font-size: 2.6rem;
  font-weight: bold;
}
.myName {
  font-size: 1.6rem;
}
/* media query */
@media screen and (max-width: 826px) {
  .footerContainer {
    display: flex;
    flex-direction: column;
  }
  .footerLogo {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .footerIcons {
    padding-top: 18px;
    padding-bottom: 18px;
  }
}
