:root {
  --yellow-theme-background-color: #03050e;
  --yellow-theme-sub-text-color: #ffffff;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
html {
  font-size: 62.5%;
}
body {
  height: max-content;
}
#root {
  height: 100%;
}
